# Playing around with lua.
lua_test/
# Vscode launch.json
.vscode/launch.json

# I may try getting this to work later, I couldn't figure this menu out.
kc_rageui_menu

# Add files that I am working with.
sync_changes.bat
.vscode/settings.json
StreetRaces/data
*.bak

# Compressed
*.tar
*.7z
*.gz
*.rar
*.zip

# This is temporary
ch_typescript/

# Add .dll files for C# project
lemonui_test/

# Add images and example.lua in ScaleformUI_Test
ScaleformUI_Test/data/chuunibyo1.gif
ScaleformUI_Test/data/image1.jpeg
ScaleformUI_Test/example.lua

