# Playing around with lua.
lua_test/
# Vscode launch.json
.vscode/launch.json

# Add files that I am working with.
sync_changes.bat
.vscode/settings.json
StreetRaces/data
*.bak

# Add .dll files for C# project
lemonui_test/

# Add images and example.lua in ScaleformUI_Test
ScaleformUI_Test/data/chuunibyo1.gif
ScaleformUI_Test/data/image1.jpeg
ScaleformUI_Test/example.lua

