# Playing around with lua.
lua_test/
# Vscode launch.json
.vscode/launch.json

# Add files that I am working with.
sync_changes.bat
.vscode/settings.json

# Add .dll files for C# project
lemonui_test/